<%- include("partials/header.ejs") %>
<main class="contact-container">
  
    <form class="contact-form text-form">
      <h3>Contact Me</h3>
      <input class="form-control" name="name" type="text" placeholder="Name"/>
      <input class="form-control" name="email" type="text" placeholder="Email" />
      <textarea class="form-control" id="FormControlTextarea1" name="text" placeholder="Comment" rows="3"></textarea>
      <input class="btn btn-dark" type="submit" value="SUBMIT" />
    </form>

</main>

<%- include("partials/footer.ejs") %>